@use "../../styles/" as *;

.button {
  background-color: $primary-color;
  color: white;
  border-radius: $border-radius;
  padding: 8px 16px;
  cursor: pointer;
  @include flex-center;

  &:hover {
    background-color: $secondary-color;
  }
}
